<div id="register-div" ng-controller="RegisterController as registerCtrl" class="center-align">

    <i style="font-size:3em; font-style: normal; font-family: 'patua_oneregular';">
        <span class="blue-text">SpotJams</span>
    </i><br>
    <i style="font-size:1em; font-style: normal;"><span class="red-text">HUMANS TOGETHER FOR MUSIC</span></i>
    <br><br>

    <form ng-submit="registerCtrl.tryRegister($event)">

        <div class="row">    
            <div class="input-field col offset-s1 s10 offset-m3 m6">
                <input id="register-fname" ng-model="registerCtrl.creds.fname" name="fname" type="text" required style="font-size: 1.2em;" />
                <label for="register-fname">First Name</label>
            </div>
        </div>
        <div class="row">        
            <div class="input-field col offset-s1 s10 offset-m3 m6">
                <input id="register-lname" ng-model="registerCtrl.creds.lname" name="lname" type="text" required style="font-size: 1.2em;" />
                <label for="register-lname">Last Name</label>
            </div>
        </div>
        <div class="row">        
            <div class="input-field col offset-s1 s10 offset-m3 m6">
                <input id="register-username" ng-model="registerCtrl.creds.username" name="username" type="text" required style="font-size: 1.2em;" />
                <label for="register-username">Username</label>
            </div>
        </div>
        <div class="row">        
            <div class="input-field col offset-s1 s10 offset-m3 m6">
                <input id="register-email" ng-model="registerCtrl.creds.email" name="email" type="email" required style="font-size: 1.2em;" />
                <label for="register-email">Email</label>
            </div>
        </div>
        <div class="row">        
            <div class="input-field col offset-s1 s10 offset-m3 m6">
                <input id="register-password" ng-model="registerCtrl.creds.password" name="password" type="password" required style="font-size: 1.2em;" />
                <label for="register-password">Password</label>
            </div>
        </div>
        <div class="row">        
            <div class="input-field col offset-s1 s10 offset-m3 m6">
                <input id="register-confirm" ng-model="registerCtrl.creds.confirm" name="password" type="password" required style="font-size: 1.2em;" />
                <label for="register-confirm">Password Confirm</label>
            </div>
        </div>

        <div class="hiddendiv"><input type="submit" tabindex="-1"/></div>
    
    </form>

    <div class="row">
        <div class="input-field col offset-s3 s6 offset-m4 m4 center-align">
            <a class="btn green" hm-tap="registerCtrl.tryRegister($event)" hm-press="registerCtrl.tryRegister($event)">Register</a>
        </div>
    </div>

</div>