<div id="main-view-div" class="index-view" ng-controller="MainViewController as mainCtrl" layout="column" layout-fill>

    <!-- <i style="font-size:3em; font-style: normal; font-weight: bold;" class="blue-text">SpotJams</i> -->

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/find">
                <div class="index-card-4 blue-bg">
                    <h3>Find</h3>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 red-bg">
            <a href="#/vjams">
                <div class="index-card-4 red-bg">
                    <h3>vJams</h3>
                </div>
            </a>
        </div>
    </div>

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/community">
                <div class="index-card-4 blue-bg">
                    <h3>Community</h3>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/profile/user">
                <div class="index-card-4 blue-bg">
                    <h3>Profile</h3>
                </div>
            </a>
        </div>
    </div>

</div>