<div id="profile-owner-view" ng-controller="ProfileController">

    <div class="profile-section ">
        <div class="section-title">
            <span>{{profile.username}}</span>
        </div>

        <div id="profile-header-row" class="row">
            <div class="col s4">
                <img id="profile-image" class="responsive-img" ng-src="{{profile.imageURL}}"></img>
            </div>
            <div id="profile-img-region" class="col s8">
                <b style="font-size: 1.5em">{{profile.fname}}</b>
                <b>{{profile.city}}, {{profile.state}}</b>
                <p>{{profile.shortBio}}</p>
            </div>
        </div>

    </div>


    <div id="profile-button-row" class="row" style="font-size: 0.7em;">
        <div class="col s3 center-align"><span class="btn sj-blue" ng-click="gotoFriends($event)" hm-tap="gotoFriends($event)">Friends</span></div>
        <div class="col s3 center-align"><span class="btn sj-blue" ng-click="gotoFollows($event)" hm-tap="gotoFollows($event)">Followings</span></div>
        <div class="col s3 center-align"><span class="btn sj-blue" ng-click="gotoTracks($event)" hm-tap="gotoTracks($event)">Tracks</span></div>
        <div class="col s3 center-align"><span class="btn sj-red" ng-click="gotoEditProfile($event)" hm-tap="gotoEditProfile($event)">Edit</span></div>
    </div>

    <div class="profile-section ">
        <div>
            <div id="styles-title" class="section-title">
                <span>About me</span>
            </div>

            <div class="section-content">
                <p>
                    &nbsp; &nbsp; {{profile.longBio}}
                </p>
            </div>
        </div>
    </div>
    
    <div class="profile-section ">
        <div id="styles-title" class="section-title">
            <span>Styles and genres</span>
        </div>

        <div class="section-content">
            <p ng-repeat="item in profile.genresStr">
                &nbsp; &nbsp; <b>{{item.displayName}}</b>
            </p>
        </div>
    </div>

    <div class="profile-section ">
        <div id="instruments-title" class="section-title">
            <span>Instruments</span>
        </div>

        <div class="section-content">
            <p ng-repeat="item in profile.instruments">
                &nbsp; &nbsp; <b>{{item.type}}</b>
            </p>
        </div>
    </div>

    <div class="profile-section ">
        <div id="tracks-title" class="section-title row">
            <span class="col s3">Tracks</span>
            <div class="col offset-s5 s4">
                <i class="mdi-av-play-arrow green-text" ng-click="playAllTracks($event)" hm-tap="playAllTracks($event)"></i>
                <i class="mdi-av-playlist-add" ng-click="queueAllTracks($event)" hm-tap="queueAllTracks($event)"></i>
            </div>
        </div>

        <div class="section-content">
            <track-list tracks="profile.tracks"></track-list>
        </div>
    </div>

</div>