<div id="profile-setup-view" class="extra-bottom-space" ng-controller="SetupController as setupCtrl">
    <div class="profile-section">
        <div class="section-title">
            <span>Basic Info</span>
        </div>
        <div class="section-content">
            <form ng-submit="setupCtrl.trySave($event)">

                <div class="row">
                    <div class="col s6">
                        <div class="input-field row">
                            <input id="setup-fname" type="text" length="64" ng-model="setupCtrl.profile.fname" ng-change="setupCtrl.markDirty()"/>
                            <label for="setup-fname" ng-class="{active: setupCtrl.profile.fname}">First name</label>
                        </div>
                        <div class="input-field row">
                            <input id="setup-lname" type="text" length="64" ng-model="setupCtrl.profile.lname" ng-change="setupCtrl.markDirty()"/>
                            <label for="setup-lname" ng-class="{active: setupCtrl.profile.lname}">Last name</label>
                        </div>
                        <div class="input-field row">
                            <input id="birthdate" type="date" class="datepicker" ng-model="setupCtrl.date" ng-change="setupCtrl.markDirty()"/>
                            <label for="birthdate" class="active">Birthdate</label>
                        </div>
                        <div class="input-field row">
                            <label for="profile-location-input" class="active">Location</label>
                            <input id="profile-location-input" type="text" name="location" ng-model="setupCtrl.profile.location" ng-change="setupCtrl.markDirty()"/>
                        </div>
                    </div>
                    <div class="col s6">
                        <img id="setup-profile-image" class="responsive-img" ng-src="{{setupCtrl.profile.imageURL}}"></img>
                        <br>
                        <span class="btn sj-blue" ng-click="setupCtrl.showImageDialog($event)" hm-tap="setupCtrl.showImageDialog($event)">
                            Update Image
                        </span>
                    </div>
                </div>
                <div class="input-field row">
                    <input id="setup-short-bio" type="text" length="70" name="shortBio" ng-model="setupCtrl.profile.shortBio" ng-change="setupCtrl.markDirty()"/>
                    <label for="setup-short-bio" ng-class="{active: setupCtrl.profile.shortBio}">Status</label>
                </div>
                <div class="input-field row">
                    <textarea id="setup-long-bio" class="materialize-textarea" name="longBio" ng-model="setupCtrl.profile.longBio" length="420" ng-change="setupCtrl.markDirty()"/>
                    <label for="setup-long-bio" ng-class="{active: setupCtrl.profile.longBio}">About you</label>
                </div>
            </form>
        </div>
    </div>

    <div class="profile-section">
        <div layout="column" ng-controller="ProfileEditSectionController">
            <div id="purpose-title" class="section-title" layout="row">
                <span flex>Jambitions</span>
                <!-- <i class="mdi-navigation-expand-more" ng-show="!adding" ng-click="toggleInput(true,$event,'purpose-title')"></i>
                <i class="mdi-navigation-expand-less" ng-show="adding" ng-click="toggleInput(false,$event)"></i> -->
            </div>
            <div class="section-content container">
                    <div class="row input-field">
                        <input type="checkbox" id="chk-a1" ng-model="a1" ng-change="setupCtrl.markDirty()" />
                        <label for="chk-a1">Find new jam buddies</label>
                    </div>
                    <div class="row input-field">
                        <input type="checkbox" id="chk-a2" ng-model="a2" ng-change="setupCtrl.markDirty()" />
                        <label for="chk-a2">Causual jamming</label>
                    </div>
                    <div class="row input-field">
                        <input type="checkbox" id="chk-a3" ng-model="a3" ng-change="setupCtrl.markDirty()" />
                        <label for="chk-a3">Collaborative Layering</label>
                    </div>
                    <div class="row input-field">
                        <input type="checkbox" id="chk-a4" ng-model="a4" ng-change="setupCtrl.markDirty()" />
                        <label for="chk-a4">Join a band</label>
                    </div>
                    <div class="row input-field">
                        <input type="checkbox" id="chk-a5" ng-model="a5" ng-change="setupCtrl.markDirty()" />
                        <label for="chk-a5">Promote a band</label>
                    </div>
                    <div class="row input-field">
                        <input type="checkbox" id="chk-a6" ng-model="a6" ng-change="setupCtrl.markDirty()" />
                        <label for="chk-a6">Learn an instrument</label>
                    </div>
                    <div class="row input-field">
                        <input type="checkbox" id="chk-a7" ng-model="a7" ng-change="setupCtrl.markDirty()" />
                        <label for="chk-a7">Find live music</label>
                    </div>
                    <div class="row input-field">
                        <input type="checkbox" id="chk-a8" ng-model="a8" ng-change="setupCtrl.markDirty()" />
                        <label for="chk-a8">Find local SpotJams</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="profile-section">
        <div layout="column" ng-controller="ProfileEditSectionController">
            <div id="styles-title" class="section-title" layout="row">
                <span flex>Styles and genres</span>
                <i class="mdi-navigation-expand-more" ng-show="!adding" ng-click="toggleInput(true,$event,'styles-title')" hm-tap="toggleInput(true,$event,'styles-title')"></i>
                <i class="mdi-navigation-expand-less" ng-show="adding" ng-click="toggleInput(false,$event)" hm-tap="toggleInput(false,$event)"></i>
            </div>
            <div class="section-input" ng-show="adding" >
                <div ng-controller="AutocompleteGenreController as ctrl">
                    <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-selected-item-change="setupCtrl.addGenre(ctrl.selectedItem)" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" placeholder="Styles and Genres (autocomplete)">
                        <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                    </md-autocomplete>
                </div>
            </div>
            <div class="section-content" layout="column">
                <p ng-repeat="item in setupCtrl.profile.genresStr">
                    &nbsp; &nbsp; <b>{{item.displayName}}</b>
                </p>
            </div>
        </div>
    </div>
    <div class="profile-section" layout="column" ng-controller="ProfileEditSectionController">
        <div id="instruments-title" class="section-title" layout="row">
            <span flex>Instruments</span>
            <i class="mdi-navigation-expand-more" ng-show="!adding" ng-click="toggleInput(true,$event,'instruments-title')" hm-tap="toggleInput(true,$event,'instruments-title')"></i>
            <i class="mdi-navigation-expand-less" ng-show="adding" ng-click="toggleInput(false,$event)" hm-tap="toggleInput(false,$event)"></i>
        </div>
        <div class="section-input" ng-show="adding">
            <div ng-controller="AutocompleteInstrController as ctrl">
                <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-selected-item-change="setupCtrl.addInstrument(ctrl.selectedItem)" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" placeholder="Instruments and vocals (autocomplete)">
                    <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                </md-autocomplete>
            </div>
            <div class="row">
                <div class="col s9">
                    <label>Years Played:  {{yearsplayed}}</label>
                    <p class="range-field">
                      <input type="range" id="setup-years-played" min="0" max="50" ng-model="yearsplayed" />
                    </p>
                </div>
                <div class="col s3">
                    <label>Skill Level:  {{skilllevel}}</label>
                    <p class="range-field">
                      <input type="range" id="setup-skill-level" min="1" max="5" ng-model="skilllevel" />
                    </p>
                </div>
            </div>
        </div>
        <div class="section-content" layout="column">
            <p ng-repeat="item in setupCtrl.profile.instruments">
                &nbsp; &nbsp; <b>{{item.type}}</b>
            </p>
        </div>
    </div>
    <div class="profile-section" layout="column" ng-controller="ProfileEditSectionController">
        <div id="tracks-title" class="section-title" layout="row">
            <span flex>Tracks</span>
            <i class="mdi-navigation-expand-more" ng-show="!adding" ng-click="toggleInput(true,$event,'tracks-title')" hm-tap="toggleInput(true,$event,'tracks-title')"></i>
            <i class="mdi-navigation-expand-less" ng-show="adding" ng-click="toggleInput(false,$event)" hm-tap="toggleInput(false,$event)"></i>
        </div>
        <div class="section-input" ng-show="adding">
            <track-recorder track="'dummy_track'"></track-recorder>
        </div>
        <div class="section-content" layout="column">
            <track-list tracks="setupCtrl.profile.tracks"></track-list>
        </div>
    </div>
    <!-- <div class="bottom-right-btn green-bg"> -->
    <div ng-show="setupCtrl.dirty">
        <md-button class="bottom-right-btn green-bg md-fab md-whiteframe-z2" ng-click="setupCtrl.trySave($event)" hm-tap="setupCtrl.trySave($event)" ng-show="setupCtrl.dirty">
            <i ng-class="setupCtrl.saving" ng-show="setupCtrl.dirty"></i>
        </md-button>
    </div>
    <!-- </div> -->
</div>
