<div id="playlist-container" ng-controller="PlaylistController" ng-class="{ 'show-player': showPlayer, 'show-list': showList }">
    <div layout="column" id="playlist-player-container" hm-swipeup="doShowList($event,true)" hm-swipedown="doShowPlayer($event,false)">
        <i id="closeButton" class="mdi-content-clear red-text" ng-click="doShowPlayer($event,false)" hm-tap="doShowPlayer($event,false)"></i>
        <audio id="music" preload="none" src="" controls>
        </audio>
        <div layout="row" layout-fill layout-align="space-around center">
            <span id="prevButton" class="icon-previous" ng-click="prev($event)" hm-tap="prev($event)"></span>
            
            <span class="mdi-av-play-circle-outline green-text" ng-click="play($event)" ng-hide="playing" hm-tap="play($event)"></span>
            <span class="mdi-av-pause-circle-outline yellow-text" ng-click="pause($event)" ng-show="playing" hm-tap="pause($event)"></span>
            <div flex layout="column">
	            <div layout="row" layout-align="space-between end">
	                <span flex="50" class="current-track-title"><b>{{currentTrack.title}}</b></span>
	                <span flex="50" class="current-track-time">{{playTime | tracktime }} / {{currentTrack.length | tracktime }}</span>
	            </div>
                <md-progress-linear id="progBar" md-mode="determinate" value="{{playedContent}}"></md-progress-linear>
            </div>
            
            <span id="nextButton" class="icon-next" ng-click="next($event)" hm-tap="next($event)"></span>
            
            <div flex="10"> </div>
        </div>
    </div>
    <div id="playlist-list-container">
        <div ng-repeat="track in tracks" class="playlist-item" layout="row" layout-align="end center">
            <div class="playlist-item-info" flex layout="column" layout-fill>
                <span><b>{{track.title}}</b></span>
                <span>{{track.length | tracktime }}</span>
            </div>
            <div class="playlist-item-controls" layout="row" layout-align="space-around center">
                <span class="mdi-av-play-circle-outline green-text" ng-click="doPlayTrack($event,$index)" hm-tap="doPlayTrack($event,$index)"></span>
                <i class="mdi-content-clear white-text" ng-click="doRemoveTrack($event,$index)" hm-tap="doRemoveTrack($event,$index)"></i>
                <!-- <span class="menu-dots">&#x22ee;</span> -->
            </div>
        </div>
    </div>
</div>
