<div id="profile-index-view-div" class="index-view" layout="column">
    <i style="font-size:3em; font-style: normal; font-weight: bold;" class="blue-text">Profile Setup</i>

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless">
            <a ng-href="#/profile/user" class="linkless">
                <div class="index-card-6 blue-bg">
                    <h3>Your Profile</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
        <div flex class="linkless">
            <a href="#/profile/edit" class="linkless">
                <div class="index-card-6 blue-bg">
                    <h3>Edit</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless">
            <a href="#/profile/card">
                <div class="index-card-6 blue-bg">
                    <h3>Your Card</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
        <div flex class="linkless">
            <a href="#/profile/tracks">
                <div class="index-card-6 blue-bg">
                    <h3>Tracks</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless">
            <a href="#/profile/feed">
                <div class="index-card-6 blue-bg">
                    <h3>Your Feed</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
        <div flex class="linkless">
            <a href="#/profile/setup?next_page=%2Fprofile%2Fuser">
                <div class="index-card-6 blue-bg">
                    <h3>Setup</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

</div>