<div id="vjams-index-view-div" class="index-view" layout="column">

    <i style="font-size:3em; font-style: normal; font-weight: bold;" class="blue-text">vJams</i>

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/vjams/tracks">
                <div class="index-card-4">
                    <h3>Tracks</h3>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 red-bg">
            <a href="#/vjams/compositions">
                <div class="index-card-4">
                    <h3>Compositions</h3>
                </div>
            </a>
        </div>
    </div>

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/vjams/layermsgs">
                <div class="index-card-4">
                    <h3>Layer Messages</h3>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/vjams/add">
                <div class="index-card-4">
                    <h3>Add Tracks</h3>
                </div>
            </a>
        </div>
    </div>

</div>