<div id="landing-div" ng-controller="IndexController as indexCtrl" layout="column" layout-align="space-between center" layout-margin layout-fill layout-padding>
    <object id="landing-logo" type="image/svg+xml" data="img/spotjams-logo.svg">
	    <img src="img/spotjams-logo.png" alt="No SVG Support"/>     
	</object>

    <span class="sj-blue-text" style="font-size:3em; font-style: normal; font-family: 'patua_oneregular';">
        SpotJams
    </span>
    <br>
    <span class="sj-red-text" style="font-size:1em; font-style: normal;">
        HUMANS TOGETHER FOR MUSIC
    </span>
    <br><br>
    <a class="btn sj-blue" id="landing-login-button" hm-tap="indexCtrl.gotoLogin($event)" hm-press="indexCtrl.gotoLogin($event)" style="width: 50vw;">Get Jammin'</a>
</div>