<div ng-controller="audioLayerController">
	
	<div class="row">
		<div class="col s12 offset-m1 m10 green">
			Name: {{layer.name}}
			Rec?: {{isRecording}}
			<i class="btn-floating mdi-av-play-circle-fill red white-text" ng-click="startRecording($event)" hm-tap="startRecording($event)"></i>
		</div>
	</div>

	<div class="row">
		<div class="col s12 offset-m1 m10 sj-yellow">
			                <div class="btn sj-blue" ng-hide="isRecording || hasRecording" hm-tap="startRecording($event)" ng-click="startRecording($event)">Record</div>
                <div class="btn sj-blue" ng-show="isRecording" hm-tap="stopRecording($event)" ng-click="stopRecording($event)">Stop</div>
                <div class="btn sj-blue" ng-show="hasRecording && !isPlaying" hm-tap="playAudio($event)" ng-click="playAudio($event)">Play</div>
                <div class="btn sj-blue" ng-show="isPlaying" hm-tap="stopAudio($event)" ng-click="stopAudio($event)">Stop</div>
                <span ng-hide="hasRecording">{{recTime | number:1}}</span>
                <span ng-show="hasRecording">
                        <span ng-show="isPlaying">
                            {{playTime | number:1 }}/</span>{{totalTime | number:1}}</span>

		</div>
	</div>

	<div class="row">
		<div class="col s12 offset-m1 m10">
			<canvas id="canvas" width="600" height="256" style="margin-left: auto; margin-right: auto; display: block; background-color: black;"></canvas>

		</div>
	</div>
	
	<div class="row">
		<div class="input-field col offset-s1 s10 offset-m3 m6">
		    <label for="track-title">Track Title</label>
		    <input required id="track-title" type="text" name="title" ng-model="track.title" md-maxlength="70" />
		</div>
		<div class="input-field col offset-s1 s10 offset-m3 m6">
		    <label for="track-description">Description</label>
		    <textarea required id="track-description" class="materialize-textarea" name="description" ng-model="track.description" md-maxlength="420" />
		</div>
    </div>

</div>

