<div ng-controller="PersonStripController">
    <div class="person-strip-container">
        
        <!-- Person Strip -->
        <div class="row">
            <div class="col s2" ng-click="gotoUser($event, person.uid)" hm-tap="gotoUser($event, person.uid)">
                <img class="responsive-img" ng-src="{{person.thumbURL}}"></img>
            </div>
            <div class="col s6" style="margin-left: 10px; text-align: left; font-size: 0.8em;">
                <div>
                <b style="font-size: 1.6em" class="blue-text">
                    {{person.username}} </b><span
                >{{person.city}}, {{person.state}}</span>
                </div>
                <div>
                    <b style="font-size: 1.2em;" class="blue-text">Instruments</b>:
                    <i ng-repeat="item in person.instruments" style "font-style: normal;">
                        {{item.type}}; </i>
                </div>
                <div>
                    <b style="font-size: 1.2em;" class="blue-text">Genres</b>:
                    <i ng-repeat="item in person.genresStr" style "font-style: normal;">
                        {{item.displayName}}; </i>
                </div>
            </div>
            <div class="col s2 person-strip-controls">
                <span class="mdi-social-person-outline blue-text" ng-click="gotoUser($event, person.uid)" hm-tap="gotoUser($event, person.uid)"></span>
                <span class="mdi-navigation-expand-more" ng-show="cardHidden" ng-click="showCard($event)" hm-tap="showCard($event)"></span>
                <span class="mdi-navigation-expand-less" ng-hide="cardHidden" ng-click="hideCard($event)" hm-tap="hideCard($event)"></span>
            </div> 
        </div>
        
        <!-- Person Card for in-list expansion -->
        <person-card person="person" ng-hide="cardHidden"></person-card>

    </div>
</div>