<md-content ng-controller="TrackStripController">
        <div class="track-strip row">
	        <div class="track-strip-info col s6">
	            <span><b>{{track.title}}</b></span>
	            <span>{{track.length | tracktime }}</span>
	        </div>
	        <div class="track-strip-controls col s3">
	            <i class="mdi-av-play-arrow green-text" ng-click="playNow($event,track.trackId)" hm-tap="playNow($event,track.trackId)"></i>
	            <i class="mdi-av-playlist-add blue-text" ng-click="addQueue($event,track.trackId)" hm-tap="addQueue($event,track.trackId)"></i>
	        </div>
	        <div class="track-strip-controls col s3">
                <span class="mdi-av-album blue-text" ng-click="gotoTrack($event, person.uid)" hm-tap="gotoTrack($event, person.uid)"></span>
                <span class="mdi-navigation-expand-more" ng-show="cardHidden" ng-click="showCard($event)" hm-tap="showCard($event)"></span>
                <span class="mdi-navigation-expand-less" ng-hide="cardHidden" ng-click="hideCard($event)" hm-tap="hideCard($event)"></span>
	        </div>
        </div>

    	<track-card track="track" ng-hide="cardHidden"></track-card>


    </div>
</div>
