<div id="find-index-view-div" class="index-view" layout="column">

    <i style="font-size:3em; font-style: normal; font-weight: bold;" class="blue-text">Find</i>

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/find/people">
                <div class="index-card-6">
                    <h3>People</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/find/search">
                <div class="index-card-6">
                    <h3>Search</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/find/music">
                <div class="index-card-6">
                    <h3>Music</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/find/lessons">
                <div class="index-card-6">
                    <h3>Lessons</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

    <div flex layout="row" layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/find/places">
                <div class="index-card-6">
                    <h3>Places</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/find/events">
                <div class="index-card-6">
                    <h3>Events</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

</div>