<div id="community-index-view-div" class="index-view" layout="column">

    <i style="font-size:3em; font-style: normal; font-weight: bold;" class="blue-text">Community</i>

    <div flex layout="row"  layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/community/groups">
                <div class="index-card-6">
                    <h3>Groups</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/community/bands">
                <div class="index-card-6">
                    <h3>Search</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

    <div flex layout="row"  layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/community/places">
                <div class="index-card-6">
                    <h3>Places</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/community/events">
                <div class="index-card-6">
                    <h3>Events</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

    <div flex layout="row"  layout-fill layout-margin>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/community/messages">
                <div class="index-card-6">
                    <h3>Messages</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
        <div flex class="linkless md-whiteframe-z1 blue-bg">
            <a href="#/community/forums">
                <div class="index-card-6">
                    <h3>Forums</h3>
                    <p></p>
                    <p></p>
                </div>
            </a>
        </div>
    </div>

</div>
