<md-content ng-controller="TrackPlayerController">
    <div layout="column" layout-margin>
        <div class="audio-strip" layout="row" layout-fill>
	        <div flex layout="column" layout-fill>
	            <span><b>{{track.meta.title}}</b></span>
	            <span>{{track.meta.description}}</span>
	        </div>
	        <div layout="column" layout-align="space-around end">
	            <span class="icon-plus blue-text"></span>
	            <span class="icon-tasks green-text"></span>
	        </div>
        </div>
    </div>
</div>
